[submodule "tpJpa"]
	path = tpJpa
	url = git@github.com:AlanArBras/TP2_SIR_JPA.git
[submodule "tp3"]
	path = tp3
	url = git@github.com:AlanArBras/TP3_SIR.git
[submodule "TP3_SIR_MONGODB"]
	path = TP3_SIR_MONGODB
	url = https://github.com/AlanArBras/TP3_SIR_MONGODB
[submodule "TP7_SIR_ANGULARJS_JPA"]
	path = TP7_SIR_ANGULARJS_JPA
	url = https://github.com/AlanArBras/TP7_SIR_ANGULARJS_JPA
[submodule "TP6_SIR_POKEDEX"]
	path = TP6_SIR_POKEDEX
	url = https://github.com/AlanArBras/TP6_SIR_POKEDEX
